.menu-banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu{
    position: relative;
    bottom: 60px;
    background-color: rgb(233, 229, 229);
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .menu--flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
    }

    &__title{
        font-family: $font-2;
        margin-left: 15px;
    }

    &__like-btn{
        font-size: 1.5em;
        margin-right: 50px;
        cursor: pointer;
    }
}

.dish{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;

    &__title{
        border-bottom: 4px solid $color-3;
        width: 50px;
        font-weight: lighter;
    }

    &__cards{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: white;
        margin-top: 25px;
        border-radius: 15px;
        cursor: pointer;
    }

    &__dish{
        width: 100%;
        overflow: hidden;
    }

    &__name{
        width: 100%;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }

    &__ingredients{
        width: 100%;
        padding: 0 10px 15px 10px;
        font-size: 0.85em;
        font-weight: lighter;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }

    &__price{
        height: 100%;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 0;
    }

    &__checked{
        padding: 25px 0px 20px 0px;
        width: 0px;
        height: 100%;
        overflow: hidden;
        background-color: $color-3;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: width .5s ease;
        text-align: center;

        .check__icon{
            font-size: 1.3em;
            color: white;
            transform: rotate(0);
        }
    }
    
    &__cards:hover{
        padding: 0;
        
        .dish__checked{
            width: 21%;
            height: 100%;

            .check__icon{
                transform: rotate(360deg);
                transition: transform .5s ease;
            }
        }
    }
}

.order{
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;

    &__btn{
        background: linear-gradient($color-2, $color-1);
        margin-top: 15px;
        padding: 15px 25px;
        color: white;
        border: none;
        border-radius: 100px;
        font-size: 1.3em;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.116);
        }
    }
}
/////////////////////////////////ANIMATIONS////////////////////////////////////////////////
.entry--animation{
    animation: first-appearing 1s;

    @keyframes first-appearing {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1; 
        }
        }
    }

.dish--animation{
    animation: first-appearing 2s;

    @keyframes first-appearing {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

.desert--animation{
    animation: first-appearing 3s;

    @keyframes first-appearing {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}


@media only screen and (min-width : 431px) and (max-width : 2000px){

    .menu{

        .menu--flex{
            justify-content: space-around;
        }

        .dish{
            
            &__title{
                margin: auto;
            }

            &__cards{
                margin: auto;
                margin-top: 25px;
                width: 60%;
            }
        }
    }
}


@media only screen and (min-width : 1026px) and (max-width : 2000px){
    .dish--flex{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dish{

            &__cards{
                margin: auto;
                margin-top: 25px;
                width: 100%;
            }
        }
    }
}