.header{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    background-color: white;

    &__icon{
        margin-left: 15px;
        font-size: 1.5em;
        color: black;
        padding-top: 20px;
    }

    &__logo{
         display: block;
        width: 150px;
        margin: auto;
        padding-top: 25px;
    }
}