@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 431px) {
  form {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 2px solid rgba(128, 128, 128, 0.171);
    background-color: #e9e5e5;
  }
  form .form__input {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #e9e5e5;
    border: none;
    font-weight: bold;
  }
  form .form__input:focus {
    outline: none;
  }
  form .location-icon {
    margin-top: auto;
    margin-bottom: auto;
  }
  .intro__section {
    background-color: rgba(233, 229, 229, 0.4);
  }
  .intro {
    padding-top: 25px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
  }
  .intro__title {
    font-weight: bold;
  }
  .intro__description {
    margin-top: 10px;
    color: #757575;
  }
  .intro__btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    margin-top: 15px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    cursor: pointer;
  }
  .functionality {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .functionality .tab {
    background-color: rgba(233, 229, 229, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 25px;
    padding: 20px 0 20px 0;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.116);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.116);
    border-radius: 25px;
    cursor: pointer;
  }
  .functionality .tab__rank {
    position: relative;
    margin-right: 30px;
    padding: 3px 7px 3px 7px;
    background-color: #9356DC;
    color: white;
    border-radius: 100%;
  }
  .functionality .tab__icon {
    margin-right: 30px;
  }
  .restaurants__section {
    background-color: rgba(233, 229, 229, 0.4);
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .restaurants__section .restaurants {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .restaurants__section .restaurants .cards {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: 0 2px 15px lightgrey;
            box-shadow: 0 2px 15px lightgrey;
    cursor: pointer;
  }
  .restaurants__section .restaurants .cards__link {
    text-decoration: none;
    color: black;
  }
  .restaurants__section .restaurants .cards__img {
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
  }
  .restaurants__section .restaurants .cards__new {
    background-color: #99E2D0;
    color: #156415;
    position: absolute;
    top: 15px;
    right: 0;
    left: 75%;
    width: 80px;
    margin: 0;
    padding: 8px 0 8px 0;
    text-align: center;
    border-radius: 3px;
  }
  .restaurants__section .restaurants .cards__description {
    padding-top: 15px;
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurants__section .restaurants .cards__city {
    color: #757575;
  }
  .restaurants__section .restaurants .cards__like-btn {
    margin-right: 25px;
    font-size: 2em;
  }
}

@media only screen and (max-width: 431px) {
  .header {
    width: 100%;
  }
  .header .header__logo {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 25px;
  }
}
/*# sourceMappingURL=index.css.map */